<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drag and drop</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:each="itemDto : ${item}">
    <div th:if="${itemDto.isDir()}">
        <a th:href="@{/(path=${itemDto.path})}" th:text="${itemDto.name}"></a>
    </div>
    <div th:unless="${itemDto.isDir()}" style="display: flex; justify-content: space-between; align-items: center;">
        <p th:text="${itemDto.name}" style="margin: 0;">Text</p>

        <form th:action="@{/download}" th:method="GET" th:object="${itemDto}" style="margin: 0;">
            <input type="hidden" th:name="name" th:value="${itemDto.name}" />
            <input type="hidden" th:name="path" th:value="${itemDto.path}" />
            <input type="hidden" th:name="fullPath" th:value="${itemDto.fullPath}">
            <input type="hidden" th:name="isDir" th:value="${itemDto.isDir()}" />
            <button type="submit">Скачать</button>
        </form>
    </div>

    <form th:action="@{/rename}" th:method="PATCH" style="margin: 0;">
        <label for="name">New name</label>
        <input type="text" id="name" name="newName">
        <input type="hidden" th:name="oldPath" th:value="${itemDto.fullPath}">
        <button type="submit">Переименовать</button>
    </form>
</div>


<form th:method="POST" th:action="@{/add}" enctype="multipart/form-data">

    <div class="drop-zone">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" name="file" class="drop-zone__input">
    </div>
    <input type="submit" value="try it!"/>
</form>


<script th:src="@{/js/main.js}"></script>
</body>
</html>